<div class="sect-label">Odběratel</div>
<div class="strong-name">{{ invoice.customerName }}</div>
{% if invoice.customerBilling.companyName %}<div>{{ invoice.customerBilling.companyName }}</div>{% endif %}
{% if invoice.customerStreet %}<div>{{ invoice.customerStreet }}</div>{% endif %}
{% if invoice.customerZip or invoice.customerCity %}
    <div>{{ invoice.customerZip }} {{ invoice.customerCity }}</div>
{% endif %}
{% if invoice.customerCountry %}<div>{{ invoice.customerCountry }}</div>{% endif %}
{% if not invoice.customerBilling.empty %}<br>{% endif %}
{% if invoice.customerBilling.ico %}<div>IČO {{ invoice.customerBilling.ico }}</div>{% endif %}
{% if invoice.customerBilling.dic %}<div>DIČ {{ invoice.customerBilling.dic }}</div>{% endif %}
